<head>
	<title>Destination Anywhere</title>
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/indexCSS.css" />
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/itemStyle.css" />
	<script src="/assets/scripts/save_script.js"></script>
</head>

<div class="itemContent">
	<div class="pointer backcategoryBtn" onclick="location.href='http://localhost:8080/viewCatalog';">
		Back to Categories
	</div>
	<div class="flex">
		<div id="countryId" class="CountryNamehead">
			<%= query[0].categoryName %>
		</div>
	</div>
	<br />
	<div>
		<div class="itemInfo">
			<div class="flex">
				<div id="eventName" class="eventName">
					<%= query[0].itemName %>
				</div>
			</div>
			<div class=" defaultcursor backcategoryBtn">
				<div class="rate<%= query[0].rating %>"></div>
			</div>
			<br />
			<div class="eventDetails">
				<%= query[0].description %>
			</div></br>
			<div class="flex fontB">
				<div>Duration:
					<%= query[0].duration %>&nbsp;days
				</div>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<div>Cost:
					$
					<%= query[0].cost %>
				</div>
			</div></br>
			<div class="userFeedback">
				<span class="fontB fontLarge">Your Feedback:</span><br />
				<br />
				<div class="flex centerAlign">
					Rate It:&nbsp;&nbsp;&nbsp;
					<% include partials/feedback.ejs %>
				</div><br />
				<div class="flex">Save It:&nbsp;
					<% if(JSON.stringify(userItem) === JSON.stringify({})){ %>
					<form id="saveItem" method="POST" action="/userProfileController?action=save">
						<input type="hidden" value='<%=query[0].itemCode %>' name="itemCode">
						<input type="hidden" value="<%= query[0].itemShortName %>" name="itemName">
						<input type="hidden" value="<%= query[0].categoryName %>" name="categoryName">
						<input type="hidden" value=0 name="rating">
						<input type="hidden" value=false name="visitedFlag">
						<% if(JSON.stringify(userItemDetails) != JSON.stringify({})){ %>
						<% for(var j=0; j<userItemDetails.itemList.length; j++) { %>
						<input type="hidden" name="userItemList" value="<%= userItemDetails.itemList[j].itemCode %>">
						<% } %>
						<% } %>
						<div id="unlike" class="unlike pointer" onclick="document.getElementById('saveItem').submit();"></div>
					</form>
					<% }else{ %>
					<div id="like" class="like pointer" onclick="/myTrips"></div>
					<% } %>
				</div><br />
				<div class="flex centerAlign">Visited:
					<form id="visitedItem" method="POST" action="/userProfileController?action=updateVisit">
						<input type="hidden" value='<%=query[0].itemCode %>' name="itemCode">
						<input type="hidden" value="<%= query[0].itemShortName %>" name="itemName">
						<input type="hidden" value="<%= query[0].categoryName %>" name="categoryName">
						<input type="hidden" value=0 name="rating">
						<% if(JSON.stringify(userItem) != JSON.stringify({})){ %>
						<% if(userItem.visitedFlag){ %>
						<input class="marginLeft" type="radio" name="visitedFlag" value="true" checked="checked"> Yes
						<input class="marginLeft" type="radio" name="visitedFlag" value="false"> No
						<% }else{ %>
						<input class="marginLeft" type="radio" name="visitedFlag" value="true"> Yes
						<input class="marginLeft" type="radio" name="visitedFlag" value="false" checked="checked"> No
						<% } %>
						<% }else{ %>
						<input class="marginLeft" type="radio" name="visitedFlag" value="true"> Yes
						<input class="marginLeft" type="radio" name="visitedFlag" value="false"> No
						<% } %>
						<input type="hidden" value='<%=query[0].itemCode %>' name="itemCode">
						<% if(JSON.stringify(userItemDetails) != JSON.stringify({})){ %>
						<% for(var j=0; j<userItemDetails.itemList.length; j++) { %>
						<input type="hidden" name="userItemList" value="<%= userItemDetails.itemList[j].itemCode %>">
						<% } %>
						<input class="button" type="submit" value="Submit">
						<% }else{ %>
						<div class="tooltip">
							<input class="button" type="submit" value="Submit" disabled="disabled">
							<span class="tooltiptext">Please Sign In</span>
						</div>
						<% } %>

					</form>
				</div>
			</div>
			<div>
				<% if(query[0].imageUrlList.length % 2 == 0 || query[0].imageUrlList.length > 1){ %>
				<% for(var i=0;i<query[0].imageUrlList.length-1;i++) { %>
				<div class="images">
					<div class="divSize centerAlign">
						<img class="imageSize" src="<%= query[0].imageUrlList[i] %>" alt="picture" />
					</div>
					<div class="divSize centerAlign">
						<img class="imageSize" src="<%= query[0].imageUrlList[i+1] %>" alt="picture" />
					</div>
				</div>
				<% i++; } %>
				<% } %>
				<% if(query[0].imageUrlList.length % 2 != 0 || query[0].imageUrlList.length == 1){ %>
				<div class=" centerAlign">
					<img class="centerImage" src="<%= query[0].imageUrlList[query[0].imageUrlList.length-1] %>" alt="picture" />
				</div>
				<% } %>

			</div>
		</div>
	</div>
</div>